<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do List</title>
  </head>
  <body>
    <h1>To-Do List</h1>
    <ul id="todo-list"></ul>
    <form id="todo-form">
      <input type="text" id="student_id" placeholder="학번" required />
      <input type="text" id="name" placeholder="이름" required />
      <button type="submit">Add To-Do</button>
    </form>
    <script>
      async function fetchTodos() {
        const response = await fetch("/todos");
        const todos = await response.json();
        const todoList = document.getElementById("todo-list");

        todoList.innerHTML = "";
        todos.forEach((todo) => {
          const li = document.createElement("li");

          const editButton = document.createElement("button");
          const deleteButton = document.createElement("button");

          editButton.textContent = "Edit";
          deleteButton.textContent = "Delete";

          editButton.addEventListener("click", async () => {
            const response = await fetch(`/todos/${todo.id}`, {
              method: "PUT",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                ...todo,
                completed: !todo.completed,
              }),
            });

            if (response.ok) {
              fetchTodos();
            }
          });

          deleteButton.addEventListener("click", async () => {
            const response = await fetch(`/todos/${todo.id}`, {
              method: "DELETE",
              headers: {
                "Content-Type": "application/json",
              },
            });

            if (response.ok) {
              fetchTodos();
            }
          });

          li.textContent = `${todo.student_id}: ${todo.name} (Completed: ${todo.completed})`;
          li.appendChild(editButton);
          li.appendChild(deleteButton);
          todoList.appendChild(li);
        });
      }

      //POST
      document
        .getElementById("todo-form")
        .addEventListener("submit", async (event) => {
          event.preventDefault();
          const student_id = document.getElementById("student_id");
          const name = document.getElementById("name");
          const response = await fetch("/todos", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              id: Date.now(),
              student_id: student_id.value,
              name: name.value,
              completed: false,
            }),
          });
          if (response.ok) {
            student_id.value = "";
            name.value = "";
            fetchTodos();
          }
        });

      fetchTodos();
    </script>
  </body>
</html>
